footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #334155;
    display: flex;
    justify-content: center;
    font-size: 8px;
    border-top: 3px solid #0f172a;
}

.nav--designer {
    font-weight: bold;
}

@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 768px) {

}