

@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 768px) {

    .home--company {
        margin: 250px auto;
        display: flex;
        justify-content: center;
    }

    .home--company_title {
        padding-bottom: 15px;
        margin-bottom: 25px;
        margin-right: 25px;
        border-bottom: 1px solid #64748b;
        font-size: xx-large;
    }

    .home--company_desc {
        margin-bottom: auto;
        font-size: larger;
    }

    /* .home--company_image {
        width: 60%;
        border: 1px solid #000000;
    } */

    .home--projects {
        margin: 250px auto;
        width: 80%;
        display: flex;
        gap: 25px;
        position: relative;
    }

    .home--project {
        width: 33%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-color: #64748b; */
        border: 1px solid #000000;
    }

    .project--behind_the_scenes {
        background-image: url('../img/beach.jpg');
    }

    .project--faces_of_pharmacare {
        background-image: url('../img/reed_road.jpg');
    }

    .home--project_background {
        filter: blur(4px);
    }

    /* .home--project_image {
        margin: 10px;
        width: 10%;
        object-fit: cover;
        border: 3px solid #0f172a;
        border-radius: 10px;
    } */

    .home--project_title {
        margin: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #000000;
        font-size: x-large;
    }

    .home--project_desc {
        margin: 10px;
        font-size: smaller;
    }

    .home--project_link {
        padding: 6px;
        margin-left: 8px;
        margin-bottom: 12px;
        background-color: #70829b;
        font-size: 14px;
        text-decoration: none;
        border: 1px solid #000000;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        box-shadow: 0 1px 1px 0;
    }

    .home--project_link:hover {
        background-color: #ffffff;
    }

    .home--team {
        width: 80%;
        margin: 250px auto;
        display: flex;
    }

    .team--bill {
        display: flex;
        text-align: center;
    }

    .bill--image {
        width: 250px;
        height: 250px;
        margin: auto;
        border-radius: 50%;
        border: 1px solid #000000;
        background-image: url('../img/bill_headshot.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
    }

    .bill--content {
        width: 80%;
        margin-left: 100px;
        text-align: left;
    }

    .bill--title {
        padding: 4px;
        margin: 25px 0;
        margin-bottom: none;
        border-bottom: 1px solid #000000;
        text-align: left;
    }

    .bill--desc {
        padding: 4px;
    }

    .home--sponsors {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .home--sponsors_title {
        font-size: xx-large;
        margin-bottom: 50px;
    }

    .home--sponsor {
        margin: 0 auto;
        margin-bottom: 25px;
        width: 80%;
        display: flex;
        text-align: left;
    }

    .home--sponsor_image {
        width: 40%;
        height: 100%;
        border: 1px solid #000000;
    }

    .home--sponsor_title {
        padding: 4px;
        padding-bottom: 15px;
        margin-top: 15%;
        margin-bottom: 25px;
        margin-left: 25px;
        border-bottom: 1px solid #000000;
        font-size: x-large;
    }

    .home--sponsor_desc {
        padding: 4px;
        margin-bottom: auto;
        font-size: 10px;
        margin-left: 25px;
        font-size: medium;
    }

}