nav {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #64748b;
    display: flex;
    justify-content: center;
    gap: 50px;
    border-bottom: 1px solid #000000;
}

.nav--logo {
    width: 128px;
}

.nav--onsite_links, .nav--offsite_links {
    display: none;
}

.nav--active_link {
    color: #ffffff;
}

@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 768px) {

    .nav--links, .nav--eastlink_container {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .nav--links > a, .nav--links > Link, .nav--eastlink {
        text-decoration: none;
    }

    .nav--links > a:hover, .nav--links > Link:hover {
        color: #ffffff;
    }

    .nav--links, .nav--eastlink_container {
        width: 320px;
    }

    .nav--links {
        justify-content: right;
    }

    .nav--eastlink_container {
        justify-content: left;
    }

    .nav--eastlink {
        padding: 6px;
        background-color: #7e90aa;
        border: 1px solid #000000;
        border-radius: 10px;
        box-shadow: 0 1px 1px 0;
    }

    .nav--eastlink:hover {
        background-color: #ffffff;
    }

}